.margin-left{
    
    margin-left: 50px;
    width: 70%;
}


.monthCost_table{

    margin-top: 30px;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 5%;
        margin-left: 30px;
        margin-right: 50px;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-color: brown;
        text-align: center;
}

.monthCost_table{
    counter-reset: Serial;
}

tr:hover{
    background-color: cadetblue;
}

th{
    text-align: center;
}

.monthCost_table td:first-child:before{
    counter-increment: Serial;
    content: counter(Serial);
}