<mat-card>


    <div style="align-items: center;" class="col-md-12 offset-md-3">
        <div> DASHBOARD </div>

        <div class="col-md-4 offset-md-3">
            <button mat-list-item routerLink="/add-category">
                <mat-icon mat-list-icon>category</mat-icon> Categories</button>

            <button mat-list-item routerLink="/add-brand">
                <mat-icon mat-list-icon>add</mat-icon>Brand</button>

            <button mat-list-item routerLink="/stock-in">
                <mat-icon mat-list-icon>quiz</mat-icon> Stock In</button>
                </div>
                <div class="col-md-4 offset-md-3">
            <button mat-list-item routerLink="/wasted-product">
                <mat-icon mat-list-icon>add_task</mat-icon> Wasted </button>

            <button mat-list-item routerLink="/add-monthly-cost">
                <mat-icon mat-list-icon>cost</mat-icon> Monthly Cost</button>

            <button mat-list-item routerLink="/add-daily-cost">
                <mat-icon mat-list-icon>quiz</mat-icon> Daily Cost</button>
        </div>
    </div>
</mat-card>