<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <h1>Update Monthly Cost</h1>
                </div>

                <form (ngSubmit)="updateMonthlyCost()">

                    <mat-form-field class="margin-left" appearance="fill">
                        <mat-label>Internet Payment</mat-label>
                        <input [(ngModel)]="monthlyCost.internetPayment" name="internetPayment" (ngModelChange)="monthlyCost.internetPayment=+$event;
                        updateTotalMonthCost()" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="margin-left" appearance="fill">
                        <mat-label>Guard Salary</mat-label>
                        <input [(ngModel)]="monthlyCost.guardSalary" name="guardSalary" (ngModelChange)="monthlyCost.guardSalary=+$event;
                         updateTotalMonthCost()" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="margin-left" appearance="fill">
                        <mat-label>Employee Salary</mat-label>
                        <input [(ngModel)]="monthlyCost.employeeSalary" name="employeeSalary" (ngModelChange)="monthlyCost.employeeSalary=+$event;
                            updateTotalMonthCost()" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="margin-left" appearance="fill">
                        <mat-label>Other Cost</mat-label>
                        <input [(ngModel)]="monthlyCost.otherCost" name="otherCost" (ngModelChange)="monthlyCost.otherCost=+$event;
                           updateTotalMonthCost() " matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="margin-left" appearance="fill">
                        <mat-label>Total Cost</mat-label>
                        <input readonly [(ngModel)]="monthlyCost.totalCost" name="totalCost" matInput
                            placeholder="Placeholder">
                    </mat-form-field>


                    <mat-form-field class="margin-left" appearance="outline">
                        <mat-label>Select Month</mat-label>
                        <mat-select name="monthName" [(ngModel)]="monthlyCost.monthName">
                            <mat-option *ngFor="let c of monthName" [value]="c">{{c}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="margin-left" appearance="outline">
                        <mat-label>Adding Date</mat-label>
                        <input [(ngModel)]="monthlyCost.addingDate" name="addingDate" matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="margin-left" appearance="fill">
                        <mat-label>Add By</mat-label>
                        <input [(ngModel)]="monthlyCost.addBy" name="addBy" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <div class="container" style="margin-top: 10px;">
                        <button mat-fab extended color="primary" type="submit">
                            Update Monthly Cost
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>